body {
    min-width: 700px;
}

h5, h6, p, li, th, td {
    color: #555b6e;
}

p, td, li, h4, h5 {
    font-weight: 300;
}

.search-bar {
    width: 300px;
}

.glossary-dropdown {
    width: 300px;
}

.dropdown {
    list-style: none
}

.form-error {
    color: #da3749;
    font-size: 0.9em;
    font-weight: bold;
}

.asteriskField {
    display: none;
}

.file-upload-btn {
    border: 1px solid #ced4da;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar {
    border-bottom: solid;
    border-width: 1px;
    border-color:#dee2e6;
}

.main-col {
    padding: 0px;
}


.code {
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: #e76f51;
    background-color: #f8f9fa;
    padding: 3px 6px 3px 6px;
    font-family: monospace;
}

.pagination-block, .table-footer-buttons {
    float: left;
}

.col-center-align {
    text-align: center;
}

.recent-date {
    color: #01affff1;
}
