{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Glossary Archive</title>
</head>

<body>
    <main>

        <!-- NEW-->

        <div class="container-fluid">
            <div class="row">

                <!-- Navigation sidebar -->

                {% if user.is_authenticated %}

                <div class="sidebar">

                        <ul class="list-group">

                            <!-- Site title -->

                            <li class="list-group-item">
                                Glossary Archive
                            </li>

                            <!-- Navigation links -->

                            <li class="list-group-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'entry_create' %}">Add term</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'glossary_upload' %}">Upload glossary</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'logout' %}">Log out</a>
                            </li>
                        </ul>

                </div>

                {% endif %}

                <div class="col main-col">

                    <div class="main-content">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>

            </div>
        </div>

    </main>

    <!-- Bootstrap and Popper JS -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>

</html>