{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Glossary Archive</title>
</head>

<body>
    <main>

        <!-- NEW-->

        <div class="container-fluid">
            <div class="row">

                <!-- Navigation sidebar -->

                <div class="sidebar">

                    <div class="page-title">
                        <h6>Glossary Archive</h6>
                    </div>

                    {% if user.is_authenticated %}

                        <!-- Navigation links -->

                        <a class="nav-link" href="{% url 'home' %}">Home</a>

                        <a class="nav-link" href="{% url 'entry_create' %}">Add term</a>

                        <a class="nav-link" href="{% url 'glossary_upload' %}">Add glossary</a>

                        <a class="nav-link logout" href="{% url 'logout' %}">Log out</a>

                    {% endif %}

                </div>

                <div class="col main-col">


                    <div class="search-section">

                        {% if user.is_authenticated %}

                            <!-- Search form -->
                            <form action="{% url 'search_results' %}"
                                  method="get"
                                  class="d-flex" >

                                <!-- Search bar -->
                                <input name="query"
                                       type="search"
                                       placeholder="Enter text ..."
                                       class="form-control search-bar me-3">

                                <!-- Resources dropdown list -->
                                <div class="input-group glossary-dropdown me-3">
                                    <select name="resource" id="inputGroupSelect" class="form-select">
                                        <option selected>All resources</option>
                                        {% for resource in resources %}
                                            <option value="{{ resource }}">{{ resource|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Search and help button -->
                                <button class="btn btn-outline-primary me-3" type="submit">Search</button>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#searchHelpModal" class="btn btn-outline-secondary me-2" role="button">Help</a>

                            </form>

                            <!-- Help modal -->
                            <div class="modal fade" id="searchHelpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Search Help</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <p>
                                                <strong>To search for a specific term:</strong><br>
                                                &middot; enter the term into the search box<br>
                                                &middot; select the resource you want to search in<br>
                                                &middot; press the "Search" button
                                            </p>
                                            <p>
                                                <strong>To display the content of an glossary:</strong><br>
                                                &middot; leave the search box empty<br>
                                                &middot; select the resource you want to display<br>
                                                &middot; press the "Search" button
                                            </p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>  <!-- Help modal end -->

                        {% endif %}

                    </div>



                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>

            </div>
        </div>



        <!-- OLD -->













    </main>


    <!-- Bootstrap and Popper JS -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>

</html>