{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center my-5">

        <div class="col-5">

            <div class="card">

                <div class="card-header">
                    <div class="text-center">
                        Edit Entry
                    </div>
                </div>

                <div class="card-body">

                    <form method="POST" novalidate>

                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.source|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.target|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.glossary|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.notes|as_crispy_field }}
                        </div>

                        <div class="text-center mt-3">
                            <!--
                                <a href="{% url 'entry_detail' object.pk %}"  class="btn btn-outline-danger" role="button">Cancel</a>
                            -->
                            <button type="submit" class="btn btn-outline-primary mx-2">Update</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}