{% extends 'base.html' %}

{% block content %}

    <div class="glossary-detail-heading">

        <h4 >{{ object.title }}</h4>

    </div>

    <div class="glossary-details">

        <p>Created on: {{ object.created_on }}</p>

        {% if object.created_by %}
            <p>Created by: {{ object.created_by }}</p>
        {% else %}
            <p>Created by: Not known</p>
        {% endif %}

        <p>Last updated on: {{ object.updated_on }}</p>

        {% if object.created_by %}
            <p>Last updated by: {{ object.updated_by }}</p>
        {% else %}
            <p>Last updated by: Not known</p>
        {% endif %}

    </div>

    <p><a href="/">Edit glossary details</a> | <a href="{% url 'glossary_delete' object.pk %}">Delete glossary</a></p>

    <div class="glossary-table">

        <table class="table table-bordered">

            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 30%">Source Term</th>
                    <th scope="col" style="width: 35%">Target Term</th>
                    <th scope="col" class="col-center-align" style="width: 15%">Actions</th>
                </tr>
            </thead>

            <tbody>

                {% for entry in object.entries.all %}

                    <tr>
                        <td>{{ entry.source|capfirst }}</td>
                        <td>{{ entry.target|capfirst }}</td>
                        <td class="col-center-align">
                            <a href="{% url 'entry_detail' entry.pk %}" >Details</a> &middot;
                            <a href="{% url 'entry_update' entry.pk %}" >Edit</a> &middot;
                            <a href="{% url 'entry_delete' entry.pk %}" >Delete</a>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}