{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="item-detail-heading">

        <h4 >{{ object.title }}</h4>

    </div>

    <div class="item-details">

        <div class="item-table">

            <table class="table table-bordered">

                <thead class="table-info">
                    <tr>
                        <th scope="col" style="width: 2%">No.</th>
                        <th scope="col" style="width: 30%">Source Term</th>
                        <th scope="col" style="width: 35%">Target Term</th>
                        <th scope="col" class="col-center-align" style="width: 13%">Actions</th>
                    </tr>
                </thead>

                <tbody>

                    {% for item in object.entries.all %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.source|capfirst }}</td>
                            <td>{{ item.target|capfirst }}</td>
                            <td class="col-center-align">
                                {% include "table_action_buttons" %}
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

{% endblock %}