{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="item-detail-heading">

        <h4>{{ object.title }}</h4>

    </div>

    <p>
        {% if num_of_entries > 0 %}
            <a href="{% url 'glossary_all_entries' object.pk %}">Show all entries</a> |
        {% endif %}

        <a href="{% url 'glossary_add_entry' glossary=object.pk %}">Add entry</a> |
        <a href="{% url 'glossary_update' object.pk %}">Edit glossary details</a> |
        <a href="{% url 'glossary_delete' object.pk %}">Delete glossary</a>
    </p>

    <div class="item-details">

        <p><h5>Details</h5></p>

        <p>Number of entries: {{ num_of_entries|intcomma }}</p>

        <p>
            {% if object.created_on %}
                Created on: {{ object.created_on }}<br>
            {% else %}
                Created on: Unknown<br>
            {% endif %}

            {% if object.created_by %}
                Created by: {{ object.created_by }}
            {% else %}
                Created by: Unknown
            {% endif %}
        </p>

        <p>
            {% if object.updated_by %}
                Last updated on: {{ object.updated_on }}<br>
            {% else %}
                Last updated on: Unknown<br>
            {% endif %}

            {% if object.updated_by %}
                Last updated by: {{ object.updated_by }}<br>
            {% else %}
                Last updated by: Unknown
            {% endif %}
        </p>

        <p>
            {% if object.notes %}
                Notes: {{object.notes}}
            {% else %}
                Notes: None
            {% endif %}
        </p>

    </div>

{% endblock %}