{% extends 'base.html' %}

{% block content %}

    <!-- Search bar -->

    <div class="row my-4">

        <div class="col">

            {% include "searchbar.html" %}

        </div>

    </div>

    <!-- Homepage content -->

    <div class="row ">

        <!-- List of available glossaries -->

        <div class="col-5">

            {% if glossaries %}

                <h6 class="my-3">AVAILABLE GLOSSARIES</h6>

                {% for glossary in glossaries %}

                    <p>
                        {{ glossary.title|title }}
                        created on {{ glossary.created_on|date:"d M Y" }}, {{ glossary.created_on|time:"H:i" }}
                    </p>

                {% endfor %}

            {% else %}

                <br><p>No glossaries have been added yet.</p>

            {% endif %}

        </div>

        <!-- List of recently added entries -->

        <div class="col-5">

            {% if recent_terms %}

                <h6 class="my-3">RECENT ENTRIES</h6>

                {% for entry in recent_terms %}

                    <p>
                        <a href="{% url 'entry_detail' entry.pk %}">{{ entry.source|capfirst|truncatechars:24 }}</a>
                        added to {{ entry.glossary|title }}
                        on {{ entry.created_on|date:"d M Y" }}, {{ entry.created_on|time:"H:i" }}
                    </p>

                {% endfor %}

            {% else %}

                <br><p>No terms have been added yet.</p>

            {% endif %}

        </div>

    </div>

{% endblock %}