{% extends 'base.html' %}

{% block content %}

        <!-- Table of available resources -->

        <div class="row justify-content-center">

            <div class="col-8 align-self-center p-5">

                <h4 class="mb-4">利用可能なリソース</h4>

                <table class="table table-sm">

                    <thead>
                        <tr>
                            <th scope="col" style="width: 60%">リソース名</th>
                            <th scope="col" style="width: 20%">リソース種類</th>
                            <th scope="col" style="width: 20%">作成日時</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for glossary in glossaries %}

                            <tr>

                                <td>
                                    <a href="{% url 'glossary_detail' glossary.pk %}">{{ glossary }}</a>
                                </td>

                                <td>
                                    用語集
                                </td>

                                <td>
                                    <small>{{ glossary.created_on|date:"d M Y" }}, {{ glossary.created_on|time:"H:i" }}</small>
                                </td>

                            </tr>

                        {% endfor %}

                        {% for translation in translations %}

                        <tr>

                            <td>
                                <a href="{% url 'translation_detail' translation.pk %}">{{ translation }}</a>
                            </td>

                            <td>
                                翻訳
                            </td>

                            <td>
                                <small>{{ translation.uploaded_on|date:"d M Y" }}, {{ translation.uploaded_on|time:"H:i" }}</small>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

{% endblock %}