<div class="sidebar">

    <ul class="list-group">

        <!-- Site title -->

        <li class="list-group-item">
            Honyaku Archive
        </li>

        <!-- Navigation links -->

        <li class="list-group-item">
            <a href="{% url 'home' %}">Home</a>
        </li>

        <li class="list-group-item">
            <a href="{% url 'entry_create' %}?previous_url={{ request.get_full_path|urlencode }}">
                New entry
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% url 'glossary_create' %}?previous_url={{ request.get_full_path|urlencode }}">
                New glossary
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% url 'glossary_upload' %}?previous_url={{ request.get_full_path|urlencode }}">
                Import glossary
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% url 'translation_upload' %}?previous_url={{ request.get_full_path|urlencode }}">
                Import translation
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% url 'glossary_export' %}?previous_url={{ request.get_full_path|urlencode }}">
                Export glossary
            </a>
        </li>

        <li class="list-group-item">
            <div class="current-user">Logged in as {{ user }}</div>
            <a href="{% url 'logout' %}">Log out</a>
        </li>
    </ul>

</div>