{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="glossary-detail-heading">

        <h4 >
            {% if object.job_number %}
                {{ object.job_number }}
            {% else %}
                Job number unknown
            {% endif %}
        </h4>

    </div>

    <p>
        {% if num_of_segments > 0 %}
            <a href="{% url 'translation_show_all' object.pk %}">Show all entries</a> |
        {% endif %}

        <a href="{% url 'translation_update' object.pk %}">Edit translation details</a> |
        <a href="{% url 'translation_delete' object.pk %}">Delete translation</a>
    </p>

    <div class="glossary-details">

        <p><h5>Details</h5></p>

        <p>
            {% if object.client %}
                Client: {{ object.client }}
            {% else %}
                Client: Unknown
            {% endif %}
        </p>

        <p>
            {% if object.field %}
                Field: {{ object.field }}
            {% else %}
                Field: Unknown
            {% endif %}
        </p>

        <p>
            {% if object.notes %}
                Notes: {{object.notes}}
            {% else %}
                Notes: None
            {% endif %}
        </p>

        <p>
            {% if object.uploaded_by %}
                Uploaded by: {{ object.uploaded_by }}
            {% else %}
                Uploaded by: Unknown
            {% endif %}
        </p>

        <p>
            {% if object.uploaded_on %}
                Uploaded on: {{ object.uploaded_on }}
            {% else %}
                Uploaded on: Unknown
            {% endif %}
        </p>

        <p>Number of segments: {{ num_of_segments|intcomma }}</p>

    </div>

{% endblock %}