{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="glossary-detail-heading">

        <h4 >{{ object.job_number }}</h4>

    </div>

    <p>
        <a href="{% url 'translation_show' object.pk %}">Show all entries</a> |
        <a href="{% url 'translation_update' object.pk %}">Edit translation details</a> |
        <a href="{% url 'translation_delete' object.pk %}">Delete translation</a>
    </p>

    <div class="glossary-details">

        <p><h5>Details</h5></p>

        <p>Client: {{ object.client }}</p>

        <p>Field: {{ object.field }}</p>

        <p>
            {% if object.notes %}
                Notes: {{object.notes}}
            {% else %}
                Notes: None
            {% endif %}
        </p>

        <p>Uploaded by: {{ object.uploaded_by }}</p>

        <p>Uploaded on: {{ object.uploaded_on }}</p>

        <p>Number of segments: {{ num_of_segments|intcomma }}</p>

    </div>

{% endblock %}